---
layout: page
title: Projects
---
<div id="project-list">
    <ul>
        {% for project in site.data.projects %}
        <li>
            <div class="project">
                <a href="{{ project.link }}" target="_blank">
                    <div class="project-image transition-ease">
                        <img class="gfyitem transition-ease" data-id="{{ project.gfycat }}" data-dot="false" data-controls="false"/>
                        <div class="overlay transition-ease">
                        </div>
                        <span class="cta transition-ease">{{ project.cta }}</span>  
                    </div>
                </a>
                <h3 class="project-title"><a href="{{ project.link }}">{{ project.name }}</a></h3> 
                <div class="project-links">
                    <a href="{{ project.repo }}" title="Projects" target="_blank">github</a>
                    {% if project.music != "" and project.music != nil %}                                        
                    <span>•</span>
                    <a href="{{ project.music }}" title="Music" target="_blank">music</a>
                    {% endif %}
                    {% if project.video != "" and project.video != nil %}  
                    <span>•</span>
                    <a href="{{ project.video }}" title="Video" target="_blank">video</a>
                    {% endif %}

                </div>
                <p>{{ project.description }}</p>                                
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

