#project-list{
    text-align: left;
    .transition-ease{
        -webkit-transition: all 300ms ease-out;  
        -moz-transition: all 300ms ease-out;  
        -o-transition: all 300ms ease-out;  
        -ms-transition: all 300ms ease-out;  
        transition: all 300ms ease-out;     
    }

    ul {
        list-style-type: none;

        padding-left: 0;
        margin:0;
    }



    li {
        padding: 10px;
        overflow: auto;

        .project-links{
            font-size:14px;   
        }
        h3 {
            margin-bottom:0;
        } 

        p {
            font-size:14px;
        }


        .project-image {
            float: left;
            margin: 0 15px 5px 0;
            height:170px;
            width:232px;
            border: 2px solid #fff;
            box-shadow: 0 0 1px rgba(0,0,0,0.2);
            box-sizing: content-box;
            position:relative;
            overflow: hidden;
            text-align: center;

            .overlay{
                background:black;
                opacity: 0;   
                position:absolute;
                top:0;
                bottom: 0;
                left:0;
                right:0;

            }

            .cta{
                position: absolute;
                left:0;
                right:0;
                top:-10px;
                opacity: 0;
                color: #bbb;
                &:hover{
                    color: #fff;
                }


            }



            &:hover{
                .gfyitem{
                    -moz-transform: scale(1.2);  
                    -o-transform: scale(1.2);  
                    -webkit-transform: scale(1.2);  
                    transform: scale(1.2);     
                }

                .overlay{
                    opacity: 0.85;
                }

                .cta{
                    top:40%;   
                    opacity: 1;
                }
            }

        } 
    }
}

#music-list{
    /* line 26, ../_sass/_base.scss */

    ul {
        list-style-type: none;

        padding-left: 0;
        margin:0;       
        width:100%;

        .youtube-video{
            margin-bottom:10px;   
        }
    }

    .video-wrapper {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

#about-container{
    text-align: left;
    #first-section{
        margin: auto;
        overflow: auto;
        width: 200px;
        @media (min-width : 26rem) {  width: auto; } 
        #profile-pic{
            margin: auto;
            width: 200px;
            @media (min-width : 26rem) { 
                float:left;
                margin-right: 30px; 
            } 
        }
        span{
            @media (min-width : 26rem) { font-size: 16px; } 
            font-size:14px;   
        }
        .section-text{
            margin: auto;
            .section-header{
                margin-top: 8px;   
            }
        }
    }

}

#footer{    
    margin-top:15px;
    font-size:10px;
    text-align: center;
    border-top: 1px solid #eee;
    padding-top:5px;
    clear: both;
    padding-bottom:5px;

    @media (min-width: 22rem) {
        font-size:12px;
        text-align: right;    
        padding-right:20px;

    }
}

