---
layout: page
title: Blog
---

<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date_to_string }} •
      {% assign readtime = post.content | strip_html | number_of_words | divided_by:site.words_per_minute %}
      {% if readtime <= 1 %}1 min{% else %}{{ readtime }} min{% endif %} read
      {% if post.github %}
      • <a href="{{post.github}}">Github</a>
      {% endif %}
    </span>

    <span>
    </span>
    {{ post.content }}
  </div>
  {% endfor %}
</div>
