---
layout: page
title: Music
---

<div id="music-list">
    <ul>
        {% for musicObject in site.data.music %}
        <li>
            <div class="music-object">
                <h2>{{ musicObject.name }}</h2>
                {% if musicObject.description != "" and musicObject.description != nil %}
                <p>{{ musicObject.description }}</p>
                {% endif %}
                {% if musicObject.type == "soundcloud" %}
                <iframe width="260" height="350" scrolling="no" frameborder="no" src="{{ musicObject.embed }}"></iframe>
                {% elsif musicObject.type == "youtube" %}
                {% for video in musicObject.embed %}
                <div class="video-wrapper">
                    <iframe  class="youtube-video" src="//www.youtube.com/embed/{{ video }}" frameborder="0" allowfullscreen></iframe>
                </div>
                {% endfor %}
                {% endif %}
            </div>

        </li>
        {% endfor %}
    </ul>
</div>
