<footer id="footer">
  <span>Built with <a href="https://www.11ty.dev/">Eleventy</a> + <a href="https://tailwindcss.com/">Tailwind</a> & hosted on
    <a href="http://pages.github.com">GitHub Pages</a>
  </span
  >
</footer>