<div class="masthead">
    <div class="container">
        <h1 class="masthead-title">
            <a href="/" title="Home">{{ siteTitle }}</a>
        </h1>
        <nav>
            <a href="/projects" title="Projects">projects</a>
            <span>•</span>
            <a href="/music" title="Music">music</a>
            <span>•</span>
            <a href="/art" title="Art">art</a>
            <span>•</span>
            <a href="/" title="About">about</a>

        </nav>
        {# <div class="social-icons">
            <a href="https://github.com/odedw" target="_blank" class='social icon-github' title="Github"></a>
            <a href="https://twitter.com/InjaLab" target="_blank" class='social icon-twitter' title="Twitter"></a>
            <a href="http://www.linkedin.com/pub/oded-welgreen/10/0/a0b" target="_blank" class='social icon-linkedin' title="Linkedin"></a>
            <a href="mailto:oded.welgreen@gmail.com" class='social icon-mail' title="Email"></a>
        </div> #}
    </div>
</div>