<header role="banner" class="nav-container p-4 border-b border-gray-300 border-solid flex-shrink-0">
  <div class="nav-inner-container container flex mx-auto flex-wrap items-center">
    <a href="/" title="Home" class="masthead-title text-2xl align-middle font-serif flex-shrink-0">{{ siteTitle }}</a>
    <div class="flex-1"></div>
    <nav class="nav-items items-center flex justify-self-end flex-shrink-0" role="navigation">
      <a href="/projects">projects</a>
      <span class="px-1">•</span>
      <a href="/music">music</a>
      <span class="px-1">•</span>
      <a href="/art">art</a>
      <span class="px-1">•</span>
      <a href="/talks">talks</a>
      <span class="px-1">•</span>
      <a href="/about">about</a>
    </nav>
  </div>
</header>
