---
layout: layouts/default.njk
title: Intro to Generative Art with P5.js
---
<style>
  .slide {
    width: 12rem;
  }
  .link-container {
    height: 10rem;
  }
</style>
<div class="pb-6 mt-10">
  <a href=".">
    <h2 class="inline-block  text-3xl mb-5">Slides</h2>
  </a>
  <ul class="">
    {% for slide in generativeArtTalk.slides %}
      <li class="mt-4">
        <h3>Slide {{slide.slideNumber}} - {{slide.title}}</h3>
        {% for link in slide.links %}
        <li>
          <a href={{link.href}} target="_blank">• {{link.name}}</a>
        </li>
      {% endfor %}
    </li>
  {% endfor %}
  {% for sketch in generativeArtTalk.sketches %}
    <li class="mt-4">
      <h3>{{sketch.title}}</h3>
      {% for link in sketch.links %}
      <li>
        <a href={{link.href}} target="_blank">• {{link.name}}</a>
      </li>
    {% endfor %}
  </li>
{% endfor %}
</ul>
</div>