---
layout: layouts/default.njk
title: Projects
---
<div>
  <div class="mb-10" aria-level="1" role="heading">
    When I want to learn a concept I try to do it while building something using that concept. It helps me understand it better as it is easier to explore it by actually using it. My projects for the most part either have a well-defined goal, or are explorations guided by curiosity.
    </div>
  <ul class="flex justify-around flex-wrap mt-6">
    {% for project in projects %}
      <li class="w-52 px-2 mb-10 flex-shrink-0">
        <a href={{ project.url }} target="_blank" rel="noopener">
          {% if project.thumbnailType == "image" %}
            <img src="{{ project.thumbnailPath }}" alt="{{ project.name }}" class="w-full h-32  border-solid border-2 border-gray-400"/>
          {% elif project.thumbnailType == "video" %}
            <video autoplay loop class="w-full h-32  border-solid border-2 border-gray-400 object-fill" alt="{{ project.name }}">
              <source src="{{project.thumbnailPath}}.webm" type="video/webm">
              <source src="{{project.thumbnailPath}}.mp4" type="video/mp4">
            </video>
          {% endif %}
        </a>
        <a target="_blank" rel="noopener" href={{ project.url }} class="font-serif">{{ project.name }}</a>
        <div class="flex text-xs">
          <a href={{ project.code }} target="_blank" rel="noopener" aria-label="Browse the source code for {{project.name}}">code</a>
          {% if project.video %}
            <span class="mx-1">•</span>
            <a href={{ project.video }} target="_blank" rel="noopener" aria-label="Watch a demo video of {{project.name}}">video</a>
          {% endif %}
          {% if project.music %}
            <span class="mx-1">•</span>
            <a href={{ project.music }} target="_blank" rel="noopener">soundtrack</a>
          {% endif %}
        </div>
        <div class="text-sm mt-2" >{{ project.description}}</div>
      </li>
    {% endfor %}
  </ul>
</div>