<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

    {% include head.html %}

    <body class="theme-base-10">

        <!-- Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS collisions with our real content. -->
        <div class="wrap">
            <div class="masthead">
                <div class="container">
                    <h1 class="masthead-title">
                        <a href="/" title="Home">{{ site.title }}</a>           
                    </h1>
                    <nav>
                        <a href="/projects" title="Projects">projects</a>
                        <span>•</span>
                        <a href="/music" title="Music">music</a>
                        <span>•</span>
                        <a href="/" title="About">about</a>      

                    </nav>
                    <div class="social-icons">
                        <a href="http://www.linkedin.com/pub/oded-welgreen/10/0/a0b" target="_blank" class='social linkdin' title="Linkedin"></a>
                        <a href="https://github.com/odedw" target="_blank" class='social github' title="Github"></a>
                        <a href="https://twitter.com/InjaGames" target="_blank" class='social twitter' title="Twitter"></a>
                        <a href="https://www.youtube.com/channel/UCA8cEeddcTGoZAPoBbFC78A" target="_blank" class='social youtube' title="YouTube"></a>
                        <a href="https://soundcloud.com/injagames" target="_blank" class='social soundcloud' title="Soundcloud"> </a>
                        <a href="mailto:oded_wel@hotmail.com" class='social email' title="Email"> </a>
                    </div>
                </div>
            </div>

            <div class="container content">
                {{ content }}
                  
            </div>
           
        </div>        
        {% include footer.html %}
        {% include scripts.html %}        
    </body>
</html>
