---
siteTitle: Oded Welgreen
---
<!doctype html>
<html lang="en">
  {% include "../components/head.njk" %}
  <body>
    {% include "../components/nav.njk" %}
    {{ content | safe }}
    {% include "../components/footer.njk" %}
    {% include "../components/analytics.njk" %}
  </body>
</html>