---
siteTitle: Oded Welgreen
---
<!doctype html>
<html lang="en">
  {% include "../components/head.njk" %}
  <body class="bg-my-gray text-gray-400 min-h-screen flex flex-col">
    {% include "../components/nav.njk" %}
    <div class="px-4 flex-1">
      <div class="container mx-auto">
        {{ content | safe }}
      </div>
    </div>
    {% include "../components/footer.njk" %}
    {% include "../components/scripts.njk" %}
    {% include "../components/analytics.njk" %}
  </body>
</html>